@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  background-color: AliceBlue;
  margin: 0;
  overflow: hidden;
}

#main {
  width: 100vw;
  box-sizing: border-box;
  height: 100vh;
  perspective: 300px;
  perspective-origin: 50% 90%;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}

#ground {
  z-index: -1;
  background-color: #f0f0f0;
  width: 100vw;
  position: fixed;
  bottom: 0px;
  left: 0px;
}

#info {
  color: gray;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  position: fixed;
  z-index: 10000000000;
  margin: 0;
  top: 8px;
  left: 8px;
  font-size: 14px;
}

.panel {
  transform-style: preserve-3d;
  transition: height ease 0.3s;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
